STACK_NAME=main

OPENPROJECT_VERSION=17.2.2-slim
OPENPROJECT_IMAGE=local/openproject-main:17.2.2-slim

OPENPROJECT_HOST__NAME=openproject.greact.ru
OPENPROJECT_HTTPS=true
OPENPROJECT_HSTS=true
SECRET_KEY_BASE=asjhdaAZVCBN129z!ksajdn
IMAP_ENABLED=false

POSTGRES_DB=openproject
POSTGRES_USER=openproject
POSTGRES_PASSWORD=change-me
POSTGRES_DATA_PATH=/opt/docker/openproject-main/postgres
OPENPROJECT_ASSETS_PATH=/opt/docker/openproject-main/assets

MEMCACHED_MEMORY_MB=128
PROXY_NETWORK_NAME=proxy
