STACK_NAME=prem

OPENPROJECT_VERSION=17.1.2
OPENPROJECT_IMAGE=local/openproject-prem:17.1.2

OPENPROJECT_HOST__NAME=openproject-prem.greact.ru
OPENPROJECT_HTTPS=true
OPENPROJECT_HSTS=true
SECRET_KEY_BASE=change-me-to-a-long-random-string
IMAP_ENABLED=false

POSTGRES_DB=openproject_prem
POSTGRES_USER=openproject
POSTGRES_PASSWORD=strongPass
POSTGRES_DATA_PATH=/opt/docker/openproject-prem-1712/postgres
OPENPROJECT_ASSETS_PATH=/opt/docker/openproject-prem-1712/assets

MEMCACHED_MEMORY_MB=128
PROXY_NETWORK_NAME=proxy
