STACK_NAME=main

OPENPROJECT_VERSION=17.1.2
OPENPROJECT_IMAGE=local/openproject-main:17.1.2

OPENPROJECT_HOST__NAME=openproject.greact.ru
OPENPROJECT_HTTPS=true
OPENPROJECT_HSTS=true
SECRET_KEY_BASE=change-me-to-a-long-random-string
IMAP_ENABLED=false

POSTGRES_DB=openproject
POSTGRES_USER=openproject
POSTGRES_PASSWORD=change-me
POSTGRES_DATA_PATH=/opt/docker/openproject-main-1712/postgres
OPENPROJECT_ASSETS_PATH=/opt/docker/openproject-main-1712/assets
MINIO_PUBLIC_HOST=minio.openproject.greact.ru

MEMCACHED_MEMORY_MB=128
PROXY_NETWORK_NAME=proxy
